.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  .tooltiptext {
    display: none;
    background-color: var(--grey-0);
    color: var(--grey-9);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* 定位工具提示文本 - 请参见下面的示例！ */
    position: absolute;
    z-index: 10;
    left: 0;
  }

}

/* 当您将鼠标悬停在工具提示容器上时显示工具提示文本 */
.tooltip:hover {
  .tooltiptext {
    display: block;
    animation: hideIndex 0.3s;
  }
}

@keyframes hideIndex {
  0% {
    opacity:0;
    transform:translate(800px, 0)
  }
  100% {
    opacity:1;
    transform:translate(0, 0)
  }
}
